@import url(reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$color-primary: #d9534f;
$color-secondary: #ffad60;
$color-tertiary: #96ceb4;
$color-quaternary: #ffeead;

$padding-base: 1rem;
$margin-base: 1rem;

$font-size: 16px;
$font-family: 'Share Tech Mono';

$border-radius: 1rem;

body {
  font-size: $font-size;
  font-family: $font-family;
}

.title-main {
  font-size: calc($font-size * 2);
  text-align: center;
  padding-bottom: calc($padding-base * 3);
  color: $color-primary;
}

.input {
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
  color: #d9534f;
  padding: calc($padding-base / 3);
  display: block;
  width: 100%;
  padding: calc($padding-base / 2);
  border-radius: calc($border-radius / 2);
  font-family: $font-family;
  font-weight: bolder;
  outline: none !important;
  transition: all 0.5s;

  &:hover {
    border: 1px solid darken($color: $color-secondary, $amount: 15);
  }

  &:focus {
    border: 1px solid darken($color: $color-secondary, $amount: 30);
  }

  &.disabled {
    background-color: lighten($color: $color-secondary, $amount: 10);
    border: 1px solid $color-secondary;

    &:hover {
      background-color: lighten($color: $color-secondary, $amount: 10);
      border: 1px solid $color-secondary;
    }
  }
}

.btn {
  background-color: $color-primary;
  border: none;
  color: #ffeead;
  font-size: calc($font-size * 1);
  font-family: $font-family;
  text-transform: uppercase;
  cursor: pointer;
  outline: none !important;
  transition: all 0.5s;

  &:hover {
    background-color: lighten($color: $color-primary, $amount: 10);
  }

  &:active,
  &:focus {
    background-color: darken($color: $color-primary, $amount: 10);
  }
}

.tooltip {
  background-color: $color-tertiary;
  color: darken($color: $color-tertiary, $amount: 50);
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: calc($padding-base / 2);
  border-radius: calc($border-radius / 2);
  transition: all 0.5s;
}

.container {
  background: $color-tertiary;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: $color-quaternary;
  padding: calc($padding-base * 3);
  border-radius: calc($border-radius);
}

.container-previewer {
  display: grid;
  grid-template-areas:
    '. top_left_x . . top_right_x .'
    'top_left_y surface surface surface surface top_right_y'
    '. surface surface surface surface .'
    'bottom_left_x surface surface surface surface bottom_right_x'
    '. bottom_left_y . . bottom_right_y .';
}

.container-top-left-x {
  grid-area: top_left_x;
  margin-bottom: calc($margin-base);
}

.container-top-left-y {
  grid-area: top_left_y;
  margin-right: calc($margin-base);
}

.container-top-right-x {
  grid-area: top_right_x;
  margin-bottom: calc($margin-base);
}

.container-top-right-y {
  grid-area: top_right_y;
  margin-left: calc($margin-base);
}

.container-bottom-left-x {
  grid-area: bottom_left_x;
  margin-right: calc($margin-base);
}

.container-bottom-left-y {
  grid-area: bottom_left_y;
  margin-top: calc($margin-base);
}

.container-bottom-right-x {
  grid-area: bottom_right_x;
  margin-left: calc($margin-base);
}

.container-bottom-right-y {
  grid-area: bottom_right_y;
  margin-top: calc($margin-base);
}

.surface {
  background: $color-primary;
  height: 300px;
  width: 300px;
  grid-area: surface;
}

.container-input {
  width: 70px;
}

.code-css {
  color: $color-quaternary;
  margin: calc($margin-base);
}

.container-code {
  display: grid;
  grid-template: 'input input btn';
  margin-top: calc($margin-base * 3);
  position: relative;

  .input {
    grid-area: input;
    padding: $padding-base;
    font-size: calc($font-size);
    border-radius: $border-radius 0 0 $border-radius;
  }

  .btn {
    grid-area: btn;
    border-radius: 0 $border-radius $border-radius 0;
  }
}
